@use "../../styles/partials/fonts.scss";
@use "../../styles/partials/_variables" as *;

.add-container {
  display: flex;
  align-items: flex-start;
  &__img {
    height: 25rem;
    margin-top: 7rem;
    margin-left: 4rem;
  }
}
.form-container {
  margin: 3rem 3rem 0rem 7rem;
  &__title {
    font-family: "Courgette-Regular";
    color: $main;
  }
  &__label {
    font-family: "Cinzel-Regular";
    color: $main;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  &__input {
    border-radius: 1rem;
    width: 18rem;
    margin-left: 1rem;
    &::placeholder {
      font-family: "Courgette-Regular";
      color: $main;
      padding: 1rem;
    }
  }
  &__option {
    // limited styling for option tag
    font-family: "Courgette-Regular";
    color: $main;
    padding: 1rem;
  }
  &__button-box {
    display: flex;
  }
  &__button {
    font-family: "Courgette-Regular";
    background-color: $third;
    color: $main;
    width: 14rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-right: 3rem;
  }
}
