@font-face {
  font-family: "Courgette-Regular";
  src: url("../../assets/fonts/Courgette-Regular.ttf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Cinzel-Regular";
  src: url("../../assets/fonts/Cinzel-VariableFont_wght.ttf") format("opentype");
  font-weight: 400;
}
