@use "../../styles/partials/fonts.scss";
@use "../../styles/partials/_variables" as *;

.landing-container {
  font-family: "Courgette-Regular";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8rem;
  margin-right: 2rem;
  color: $main;
}
.landing-box {
  text-align: center;
  &__title {
    font-size: 45px;
    color: $main;
  }
  &__body {
    font-size: 25px;
  }
  &__link {
    text-decoration: none;
  }
  &__link:visited {
    text-decoration: none;
  }
  &__link-text {
    color: $main;
  }
  &__img-src {
    height: 50rem;
    margin-top: 3rem;
  }
}
