.background-container {
  background-image: url(../../assets/images/BackgroundImg.jpg);
  width: 100%;
  height: 100vh;
  background-size: 101% 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;
}
